<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.lucky.gboardpatches.pngcompanion">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LuckyBoard PNG Companion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver for delegation from the patch -->
        <receiver
            android:name=".PngOptimizeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.lucky.gboardpatches.pngcompanion.OPTIMIZE_PNGS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
